<!-- your html code here -->
<div class="container p-6">
    <h1>Contact</h1>
    <p>Assumenda officiis corporis iure rerum, porro nemo mollitia quae vel voluptate odio molestiae repudiandae harum necessitatibus reiciendis. Dignissimos, quae dolores fuga reiciendis eius hic esse aliquam reprehenderit repudiandae sed error? Culpa iste nesciunt impedit fuga voluptates fugit voluptatibus eaque hic debitis harum earum magni temporibus nisi quod ipsum obcaecati placeat dignissimos odit repellat numquam, doloremque error quos dolorum quia? Cum quod reiciendis placeat debitis perferendis ex ducimus similique, dolorum voluptatum voluptate non dicta optio inventore ipsa atque minus vero rerum a consequuntur. Dolores placeat molestiae inventore possimus asperiores est, consequuntur iusto corrupti.</p>

    <form class="border border-1 p-4 row container">
        <div class="mb-3 row">
            <label for="email" class="form-label col-4">Your E-mail</label>
            <input type="email" class="form-control col" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3 row">
            <label for="message" class="form-label col-4">Your message</label>
            <textarea class="form-control col" id="message" rows="3" placeholder="Please enter your message here..."></textarea>
        </div>
    </form>
</div>