<!-- portfolio.html -->
<section class="py-5">
  <div class="container">
    <h2 class="fw-bold text-start mb-3">Portfolio</h2>
    <p class="text-start mb-5">
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
      Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>

    <div class="row text-center">
      <!-- Proyecto 1 -->
      <div class="col-md-4 mb-5">
        <img class="img-fluid mb-3" src="assets/img/big-project-image.png" alt="Project 1">
        <h5 class="text-primary fw-bold">Project Name</h5>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna.
        </p>
      </div>

      <!-- Proyecto 2 -->
      <div class="col-md-4 mb-5">
        <img class="img-fluid mb-3" src="assets/img/big-project-image.png" alt="Project 2">
        <h5 class="text-primary fw-bold">Project Name</h5>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna.
        </p>
      </div>

      <!-- Proyecto 3 -->
      <div class="col-md-4 mb-5">
        <img class="img-fluid mb-3" src="assets/img/big-project-image.png" alt="Project 3">
        <h5 class="text-primary fw-bold">Project Name</h5>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna.
        </p>
      </div>
    </div>
  </div>
</section>
